{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">

{% endblock extra_css %}

{% block content %}
    <div class="introduction">
        <div class="profile-image">
            <img src="{% static 'me.png' %}" alt="">
            <div id="icons">
                <img id="icon" src="{% static 'django.svg' %}" alt="">
                <img id="icon" src="{% static 'python.svg' %}" alt="">
                <img id="icon" src="{% static 'javascript.svg' %}" alt="">

            </div>
        </div>
        <div class="profile-text">
            {% include 'components/terminal.html' %}
        </div>
        <div class="tape">
        </div>
    </div>
    {% include 'components/information.html' %}
    {% include 'components/services.html' %}

{% endblock content %}
