{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}">
{% endblock extra_css %}

<div class="services">
    <h2>Services</h2>
    <div class="service-box">
        <div class="service-content">
            <ul>
                <li>
                    <span>Development</span>
                    <div class="service-item">
                        Development for your web-app, whether its front or backend. From full-app development
                        to small features, bug fixes or microservice development. You have found the right developer for
                        the task.
                    </div>
                </li>
                <li>
                    <span>Technical content</span>
                    <div class="service-item">
                        Technical & documentation writing, as well as tutorials and guides in written or video form. I
                        can help the world understand your product better, and navigate through your documentation.
                    </div>
                </li>
                <li>
                    <span>Consulting</span>
                    <div class="service-item">
                        Expert advice on your Django, Python or Django based JavaScript. From integrations of third
                        party applications to the design of your next app.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>